# COGS 108 - Final Project

# Overview

My project attempted determine if parks in high-crime areas received lower Yelp ratings than parks in lower-crime areas. For each park in the Yelp dataset, I counted the number of crimes committed within a half mile of the park. No significant relationship was found between the crime rate of a park's neighborhood and the average Yelp rating.

# Name & GitHub

- Name: Hayden Syzdek
- GitHub Username: hsyzdek

# Research Question

Does the crime rate of a park's neighborhood negatively influence it's Yelp rating?

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: San Diego Crime Data (2019)
- Link to the dataset: https://data.sandiego.gov/datasets/police-calls-for-service/
- Number of observations: 590967
- Description: This database has a record of every police call. It records many features including the date, type of call, and priority. The only feature I use is the address of the call.

- Dataset Name: San Diego Parks Yelp Data
- Link to the dataset: https://www.yelp.com/
- Number of observations: 833
- Description: This dataset provides the rating, location, and general information for parks in San Diego

I combine these datasets on location. Using Google's Geocoding API, I convert the address of the police call into latitude and longitude.

# Setup

In [1]:
## YOUR CODE HERE
import geopandas
import geopy
import pandas as pd
import geocoder
import numpy as np
import threading
import concurrent.futures

In [2]:
parks = pd.read_csv("../data/yelp_SD_parks.csv")
crimes = pd.read_csv("../data/pd_calls_for_service_2019_datasd.csv")

In [3]:
crimes

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E19010000001,2019-01-01 00:00:01,1,3800,NaN,NATIONAL,AVE,NaN,NaN,NaN,AU1,DUP,441,1
1,E19010000002,2019-01-01 00:00:04,1,6500,NaN,REFLECTION,DR,NaN,NaN,NaN,415,K,321,2
2,E19010000003,2019-01-01 00:00:09,1,0,NaN,06TH,AVE,NaN,ISLAND,NaN,FD,K,523,2
3,E19010000004,2019-01-01 00:00:19,1,0,NaN,VESTA,ST,NaN,MAIN,NaN,AU1,W,511,1
4,E19010000005,2019-01-01 00:00:31,1,0,NaN,04TH,AVE,NaN,ISLAND,NaN,586,CAN,523,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590962,E19120050370,2019-12-31 23:57:36,3,4300,NaN,OCEAN,BLV,NaN,NaN,NaN,FOOT,CAN,122,3
590963,E19120050372,2019-12-31 23:58:11,3,3400,NaN,RUFFIN,RD,NaN,NaN,NaN,415N,K,311,3
590964,E19120050373,2019-12-31 23:59:30,3,0,NaN,04TH,AVE,NaN,K,NaN,1016,A,-1,2
590965,E19120050374,2019-12-31 23:59:35,3,0,NaN,04TH,AVE,NaN,K,NaN,1016,A,523,2
590966,E19120050375,2019-12-31 23:59:53,3,6200,NaN,LAKE ATLIN,AVE,NaN,NaN,NaN,AU1,W,324,1

In [4]:
parks

,name,address,phone,id,url,rating,review_count,longitude,latitude,is_closed
0,Balboa Park,"1549 El Prado San Diego, CA 92101",1.619239e+10,9M_FW_-Ipx93I36w-_ykBg,https://www.yelp.com/biz/balboa-park-san-diego...,5.0,2105,-117.153150,32.734502,False
1,Civita Park,"7960 Civita Blvd San Diego, CA 92108",NaN,3AEHjqNrTmggA6G9VdhQfg,https://www.yelp.com/biz/civita-park-san-diego...,4.5,46,-117.147278,32.778315,False
2,Waterfront Park,"1600 Pacific Hwy San Diego, CA 92101",1.619233e+10,3unbJeYrn1RmInZGmjp80g,https://www.yelp.com/biz/waterfront-park-san-d...,4.5,242,-117.172479,32.721952,False
3,Trolley Barn Park,"Adams Ave And Florida St San Diego, CA 92116",NaN,PvHxIYrmaiFKdWUDTMDzcg,https://www.yelp.com/biz/trolley-barn-park-san...,4.5,102,-117.143789,32.762463,False
4,Bay View Park,"413 1st St Coronado, CA 92118",NaN,6IF4VB9-fkv_F-LBvG8ppQ,https://www.yelp.com/biz/bay-view-park-coronad...,5.0,42,-117.178967,32.701785,False
...,...,...,...,...,...,...,...,...,...,...
828,Del Cerro - San Diego,"San Diego, CA 92120",1.619287e+10,ggbc59hSsl6pxCGSN1QLQA,https://www.yelp.com/biz/del-cerro-san-diego-s...,4.5,12,-117.073524,32.792626,False
829,San Diego Metropolitan Transit System,"1255 Imperial Ave Ste 1000 San Diego, CA 92101",1.619238e+10,c8jhIMcwSjWqBD7S-faKYg,https://www.yelp.com/biz/san-diego-metropolita...,2.5,268,-117.153400,32.705760,False
830,Petco Park,"100 Park Blvd San Diego, CA 92101",1.619796e+10,HkgSbRLVMRHExsRkImIK5A,https://www.yelp.com/biz/petco-park-san-diego?...,4.0,1667,-117.157054,32.707246,False
831,Ann D. L'Heureux Memorial Dog Park,"2700 Carlsbad Village Dr Carlsbad, CA 92008",1.760434e+10,wYGJ65iVMi74-3TylWxY0Q,https://www.yelp.com/biz/ann-d-l-heureux-memor...,3.0,50,-117.316419,33.171137,False
832,Fairbrook Farm,"4949 S Mission Rd Fallbrook, CA 92028",1.760729e+10,l3ZIY78OBs6BfkMQifY28g,https://www.yelp.com/biz/fairbrook-farm-fallbr...,5.0,1,-117.227747,33.302164,False

In [5]:
#Google API Key. Removed my own because I'm pushing to github,
#insert your own or contact me if you want to run the code
GOOGLE_API_KEY = "AIzaSyAKo7qBdddL5kFMgYsl0OwoUlVkLlK9VGk"

# Data Cleaning

Describe your data cleaning steps here.

In [6]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

In [7]:
#Convert row into address string
def parseAddress(row):
    out = ""
    if str(row["address_number_primary"]) != "0":
        out += str(row["address_number_primary"]) + " "
        x = str(row["address_road_primary"])
        if x[0] == "0":
            x = x[1:]
        out += x
        if str(row["address_sfx_primary"]) != 'nan':
            out += " " + row["address_sfx_primary"]
    elif str(row["address_road_intersecting"]) != "nan":
        x = str(row["address_road_primary"])
        if x[0] == "0":
            x = x[1:]
        out += x
        if str(row["address_sfx_primary"]) != 'nan':
            out += " " +row["address_sfx_primary"]
        out += " AND "
        x = str(row["address_road_intersecting"])
        if x[0] == "0":
            x = x[1:]
        out += x
        if str(row["address_sfx_intersecting"]) != 'nan':
            out += " " + row["address_sfx_intersecting"]
    else:
        return np.nan
    return out + ", San Diego, CA"

In [8]:
#Convert street address to long/lat
def doIt(row):
    s = parseAddress(row)
    if s == np.nan:
        res = np.nan
    else:
        res = geocoder.google(s, key = GOOGLE_API_KEY, rate_limit = False)
    return (row["incident_num"], res)

In [9]:
#Due to API and hardware limitations, we randomly sample 15,000 police calls
#from the database
with concurrent.futures.ThreadPoolExecutor(50) as executor:
    result = executor.map(doIt, [row for _, row in crimes.sample(n=15000).iterrows()])

In [12]:
#Create a file with the geoencoded data so we don't have to make the API calls
#every time
results2 = "id, long, lat"
lc = 0
for i, r in result:
    if r == np.nan or r.json is None:
        continue
    else:
        lc += 1
        results2 += "\n" + str(i) + ", " + str(r.json["lng"]) + ", " + str(r.json["lat"])

In [14]:
with open('crimeLocs.csv', mode='wt', encoding='utf-8') as myfile:
    myfile.write(results2)

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

The two datasets I used did not have any personally identifiable information. I only used the average rating for each park, meaning I did not deal with any individuals. The parks themselves are ran by public orginizations. The crime data has been pre-cleaned, removing crimes of personal nature and abstracting locations to the block level. There are therefore no privacy concerns.

Ethically, the datasets are allowed to be used for this purpose. There is likely bias in the police call records, as some communities feel less comfortable contacting police. Therefore some areas likely have deflated crime statistics, and some have inflated crime statistics, potentially skewing the results. Bias in Yelp reviews unrelated to crime statistics should cancel out over the hundreds of parks. 

There is a possibility of the analysis being misused. My analysis did not find a relationship between crime rates and Yelp reviews, so it is possible for someone to incorrectly use the analysis as evidence that Yelp reviews are unbiased.

There is a possibility of the analysis being misused. My analysis determined parks in high-crime areas have lower Yelp reviews, so it is possible for someone to use the analysis to argue parks in high-crime areas should be closed.

# Conclusion & Discussion

*Fill in your discussion information here*